:root {
    --color-bg: #3b3b3b; /* Fundo cinza claro */
    --color-text: #333; /* Texto em cinza escuro */
    --color-button-bg: #4CAF50; /* Verde do botão */
    --color-button-hover-bg: #45a049; /* Verde escuro para hover */
    --color-white: #fff; /* Branco */
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilizando o cabeçalho */
header {
    background-color: #333;
    color: var(--color-white);
    padding: 20px;
    text-align: center;
    position: relative; /* Garante que os elementos dentro do header se posicionem corretamente */
}

/* Estilizando a seção 'Sobre' */
section#sobre {
    padding: 20px;
    margin: 20px;
    background-color: var(--color-white);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Centralizar os botões na tela */
.container-botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa a tela inteira */
}

/* Estilizando os botões */
button {
    background-color: var(--color-button-bg);
    color: var(--color-white);
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: var(--color-button-hover-bg);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* Estilizando os rótulos para ficarem visíveis no fundo escuro */
label {
    color: var(--color-white); /* Define a cor dos rótulos como branco */
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
